<template>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">{{title}}</span>
    </div>
    <div class="panel-body">
        <form class="form" @submit.prevent="save">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Customer</label>
                        <select class="form-control" v-model="form.customer_id">
                            <option>Select</option>
                            <option v-for="customer in options" :value="customer.id">
                                {{customer.company}} / {{customer.name}}
                            </option>
                        </select>
                        <small class="text-danger" v-if="errors.customer_id">{{errors.customer_id[0]}}</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" class="form-control" v-model="form.date">
                        <small class="text-danger" v-if="errors.date">{{errors.date[0]}}</small>
                    </div>
                    <div class="form-group">
                        <label>Dua_Date</label>
                        <input type="date" class="form-control" v-model="form.due_date">
                        <small class="text-danger" v-if="errors.due_date">{{errors.due_date[0]}}</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" v-model="form.title">
                        <small class="text-danger" v-if="errors.title">{{errors.title[0]}}</small>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in form.items">
                        <td>
                            <input type="text" class="form-control" v-model="item.description">
                            <small class="error-control" v-if="errors[`items.${index}.description`]">
                                {{errors[`items.${index}.description`][0]}}
                            </small>
                        </td>
                        <td>
                            <input type="text" class="form-control" v-model="item.unit_price">
                        </td>
                        <td>
                            <input type="text" class="form-control" v-model="item.qty">
                        </td>
                        <td>
                            {{parseFloat(item.unit_price) * parseFloat(item.qty)}}
                        </td>
                        <td>
                            <button type="button" @click="form.items.splice(index, 1)">&times;</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <a @click.stop="addLine">AddLine</a>
                        </td>
                        <td>Sub Total</td>
                        <td>{{subTotal}}</td>
                    </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>Discount</td>
                    <td>
                        <input type="text" class="form-control" v-model="form.discount">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>Total</td>
                    <td>{{total}}</td>
                </tr>
                </tfoot>
            </table>
            <button class="btn btn-primary btn-sm">Save</button>
        </form>
    </div>
</div>
</template>
<script>
export default {
    name: 'InvoiceForm',
    data() {
        return {
            title: 'Create',
            form: {
                items:[]
            },
            options: {
                customers: []
            },
            errors: {},
            initialize: '/api/invoice/create',
            store: '/api/invoice',
            method: 'post',
            redirect: '/invoice'
        }
    },
    watch: {
        '$route': 'fetchData'
    },
    created() {
        if(this.$route.meta.mode === 'edit') {
            this.title = 'Edit';
            this.initialize = '/api/invoice/' + this.$route.params.id + '/edit';
            this.store = '/api/invoice/' + this.$route.params.id;
            this.method = 'put';
        }
        this.fetchData()
    },
    computed: {
        subTotal: function() {
            return this.form.items.reduce((total, item) => total + (parseFloat(item.unit_price) * parseFloat(item.qty)),0);
        },
        total: function() {
            return this.subTotal - parseFloat(this.form.discount);
        }
    },
    methods: {
        fetchData: function() {
            this.$http.get(this.initialize)
                .then(response => {
                    this.form = response.data.form;
                    this.options = response.data.option;
                    console.log(this.form);
                    console.log(this.options);
                })
                .catch(error => console.log(error))
        },
        save: function() {
            this.$http[this.method](this.store, this.form)
                .then(response => {
                    if(response.data.saved) {
                        console.log(response);
                        this.$router.push(this.redirect);
                    }
                })
                .catch(error   => {
                    console.log(error)
                    this.errors = error.data;
                })
        },
        addLine: function() {
            this.form.items.push({
                description: '',
                unit_price: 0,
                qty: 1
            })
        }
    }
}
</script>
<style>

</style>