<template>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">{{model.title}}</span>
        <div>
            <router-link
                    :to="'/invoice/' + model.id + '/edit/'"
                    class="btn btn-primary btn-sm"
            >Edit</router-link>
            <button class="btn btn-danger btn-sm" @click="remove">Delete</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <label>Customer</label>
                <p>{{model.customer.company}} / {{model.customer.name}}</p>

                <label>Sub Total</label>
                <p>{{model.sub_total}}</p>

                <label>Discount</label>
                <p>{{model.discount}}</p>

                <label>Total</label>
                <p>{{model.total}}</p>
            </div>
            <div class="col-sm-4">
                <label>Title</label>
                <p>{{model.title}}</p>
                <label>Date</label>
                <p>{{model.date}}</p>
                <label>Due Date</label>
                <p>{{model.due_date}}</p>

            </div>
            <div class="col-sm-4">
                <label>Created At</label>
                <p>{{model.created_at}}</p>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Qty</th>
                <th>Unit price</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in model.items">
                <td>{{item.description}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.unit_price}}</td>
                <td>{{item.qty * item.unit_price}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</template>
<script>
export default {
    name: 'InvoiceShow',
    data() {
        return {
            model: {
                customer: {},
                items: []
            },
            redirect: '/invoice'
        }
    },
    created() {
        this.fetchData()
    },
    watch: {
        '$route': 'fetchData'
    },
    methods: {
        fetchData: function() {
            this.$http.get('/api/invoice/' + this.$route.params.id)
                .then(response => this.model = response.data.model)
                .catch(error   => console.log(error))
        },
        remove: function() {
            this.$http.delete('/api/invoice/' + this.$route.params.id)
                .then(response => {
                    if(response.data.delete) {
                        this.$router.push(this.redirect);
                    }
                })
                .catch(error   => console.log(error))
        }
    }
}
</script>
<style>

</style>