<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{title}}</span>
            <div>
                <button class="btn btn-primary btn-sm" @click="$router.push(create)">Create</button>
                <button class="btn btn-default btn-sm" @click="showFilter = !showFilter">F</button>
            </div>
        </div>
        <div class="panel-body">
            <section v-if="loading">
                <p class="loading">Loading data .....</p>
            </section>
            <section v-else>
                <div v-if="errored">
                    <p>Were are sorry. Server disconnect.Please try a gain!</p>
                </div>
                <div v-else>
                    <div class="filter" v-if="showFilter">
                        <div class="filter-column">
                            <select class="form-control" v-model="params.search_column">
                                <option v-for="filter in filters" :value="filter">{{filter}}</option>
                            </select>
                        </div>
                        <div class="filter-operator">
                            <select class="form-control" v-model="params.search_operator">
                                <option v-for="(operator, key) in operators" :value="key">{{operator}}</option>
                            </select>
                        </div>
                        <div class="filter-input">
                            <input type="text" class="form-control" v-model="params.search_query_1"
                                   @keyup.enter="fetchData">
                        </div>
                        <div class="filter-btn">
                            <button class="btn btn-sm btn-primary btn-block" @click.prevent="fetchData">Filter</button>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th v-for="thead in theads">{{thead.title}}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <slot v-for="item in model.data" :item="item"></slot>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="panel-footer pagination-footer">
            <div class="pagination-item">
                <span>Per Page: </span>
                <select v-model="params.per_page" @change="fetchData">
                    <option>10</option>
                    <option>20</option>
                    <option>25</option>
                    <option>50</option>
                </select>
            </div>
            <div class="pagination-item">
                <small>Showing {{model.from}} - {{model.to}} of {{model.total}}</small>
            </div>
            <div class="pagination-item">
                <span>Current Page: </span>
                <input type="text" v-model="params.page" class="pagination-input" @keyup.enter="fetchData">
                <span>of {{model.last_page}}</span>
            </div>
            <div class="pagination-item">
                <button class="btn btn-default btn-sm" :disabled="model.prev_page_url === null" @click="prev">Prev</button>
                <button class="btn btn-default btn-sm" :disabled="model.next_page_url === null" @click="next">Next</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['title', 'source', 'theads', 'filters', 'create'],
        data() {
            return {
                loading: true,
                errored: false,
                showFilter: false,
                params: {
                    sort_column: 'id',
                    direction: 'desc',
                    search_column: 'id',
                    search_operator: 'equal_to',
                    search_query_1: '',
                    page: 1,
                    per_page: 10
                },
                operators: {
                    equal_to    : '=',
                    less_than   : '<',
                    greater_than: '>'
                },
                model: {}
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData: function() {
                this.$http.get(this.builUrl())
                    .then(response => {
                        this.model = response.data.model;
                        //console.log(this.model)
                    })
                    .catch(error => {
                        this.errored = true;
                        console.log(error)
                    })
                    .finally(() => this.loading = false);
            },
            builUrl() {
                let p = this.params;
                return `${this.source}?page=${p.page}&per_page=${p.per_page}&sort_column=${p.sort_column}&direction=${p.direction}&search_operator=${p.search_operator}&search_column=${p.search_column}&search_query_1=${p.search_query_1}`;
            },
            next: function() {
                if(this.model.next_page_url) {
                    this.params.page++;
                    this.fetchData();
                }
            },
            prev: function() {
                if(this.model.prev_page_url) {
                    this.params.page--;
                    this.fetchData();
                }
            },
        }
    }
</script>
<style>

</style>