<template>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">{{title}}</span>
    </div>
    <div class="panel-body">
        <form @submit.prevent="save">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" v-model="form.company">
                        <small class="text-danger" v-if="errors.company">{{errors.company[0]}}</small>
                    </div>
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" class="form-control" v-model="form.name">
                        <small class="text-danger" v-if="errors.name">{{errors.name[0]}}</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" v-model="form.email">
                        <small class="text-danger" v-if="errors.email">{{errors.email[0]}}</small>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" v-model="form.phone">
                        <small class="text-danger" v-if="errors.phone">{{errors.phone[0]}}</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" v-model="form.address">
                        <small class="text-danger" v-if="errors.address">{{errors.address[0]}}</small>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-sm" :disabled="loading" @click.prevent="save">Save</button>
        </form>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            loading: false,
            title: 'Create',
            form: {},
            errors: {},
            initialize: '/api/customer/create',
            store: '/api/customer',
            method: 'post',
            redirect: '/customer'
        }
    },
    created() {
        if(this.$route.meta.mode === 'edit') {
            this.title = 'Edit';
            this.initialize = '/api/customer/' + this.$route.params.id + '/edit';
            this.store = '/api/customer/' + this.$route.params.id;
            this.method = 'put';
        }
        this.fetchData();
    },
    watch: {

    },
    methods: {
        fetchData: function(){
            this.$http.get(this.initialize)
                .then(response => {
                    this.form = response.data.form;
                })
                .catch(error => console.log(error))
        },
        save: function() {
            this.loading = true;
            this.$http[this.method](this.store, this.form)
                .then(res => {
                    if(res.data.saved === false) {
                        this.errors = res.data.error;
                    } else if(res.data.saved === true) {
                        this.$router.push(this.redirect);
                    } else {
                        console.log(res)
                    }
                })
                .catch(error => console.log(error))
                .finally(()=> this.loading = false);
        }
    }
}
</script>
<style>

</style>