<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{title}}</span>
            <div>
                <button class="btn btn-primary btn-sm" @click="$router.push('/customer/create')">Create</button>
                <button class="btn btn-default btn-sm" @click="showFilter = !showFilter">F</button>
            </div>
        </div>
        <div class="panel-body">
            <section v-if="loading">
                <p class="loading">Loading data...</p>
            </section>
            <section v-else>
                <div v-if="errored">
                    <p>Were are sorry! server disconnect.Please contact admin for support</p>
                </div>
                <div v-else>
                    <div class="filter" v-if="showFilter">
                        <div class="filter-column">
                            <select class="form-control" v-model="params.search_column">
                                <option v-for="filter in filters" :value="filter">{{filter}}</option>
                            </select>
                        </div>
                        <div class="filter-operator">
                            <select class="form-control" v-model="params.search_operator">
                                <option v-for="(operator, key) in operators" :value="key">{{operator}}</option>
                            </select>
                        </div>
                        <div class="filter-input">
                            <input type="text" class="form-control" v-model="params.search_query_1"
                            @keyup.enter="fetchData">
                        </div>
                        <div class="filter-btn">
                            <button class="btn btn-sm btn-primary btn-block" @click.prevent="fetchData">Filter</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th v-for="thead in theads">
                                    <div v-if="thead.sort" @click="sort(thead.key)">
                                        <span>{{thead.title}}</span>
                                        <span v-if="params.sort_column === thead.key">
                                            <span v-if="params.direction === 'asc'">&#x25B2;</span>
                                            <span v-else>&#x25BC;</span>
                                        </span>
                                    </div>
                                    <div v-else>
                                        <span>{{thead.title}}</span>
                                    </div>

                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in model.data" @click="$router.push('/customer/' + item.id)">
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.company}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.created_at}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div class="panel-footer pagination-footer">
            <div class="pagination-item">
                <span>Per Page: </span>
                <select v-model="params.per_page" @change="fetchData">
                    <option>10</option>
                    <option>20</option>
                    <option>25</option>
                    <option>50</option>
                </select>
            </div>
            <div class="pagination-item">
                <small>Showing {{model.from}} - {{model.to}} of {{model.total}}</small>
            </div>
            <div class="pagination-item">
                <span>Current Page: </span>
                <input type="text" v-model="params.page" class="pagination-input" @keyup.enter="fetchData">
                <span>of {{model.last_page}}</span>
            </div>
            <div class="pagination-item">
                <button class="btn btn-default btn-sm" :disabled="model.prev_page_url === null" @click="prev">Prev</button>
                <button class="btn btn-default btn-sm" :disabled="model.next_page_url === null" @click="next">Next</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                title: 'Customer',
                loading: true,
                errored: false,
                showFilter: false,
                theads: [
                    {title: 'ID', key: 'id', sort: true},
                    {title: 'Name', key: 'name', sort: true},
                    {title: 'Company', key: 'company', sort: true},
                    {title: 'Email', key: 'email', sort: true},
                    {title: 'Phone', key: 'phone', sort: false},
                    {title: 'Address', key: 'address', sort: true},
                    {title: 'Created_at', key: 'created_at', sort: true}
                ],
                filters: ['id', 'name', 'company', 'email', 'address', 'phone'],
                params: {
                    search_column: 'id',
                    search_operator: 'equal_to',
                    search_query_1: '',
                    page: 1,
                    per_page: 10,
                    sort_column: 'id',
                    direction: 'desc'
                },
                operators: {
                    equal_to      : '=',
                    less_than     : '<',
                    greater_than  : '>'
                },
                model: {}
            }
        },
        created() {
            this.fetchData();
        },
        computed: {

        },
        watch: {

        },
        methods: {
            fetchData: function() {
                this.$http.get(this.builUrl())
                    .then(response => {
                        this.model = response.data.model
                    })
                    .catch(errors => {
                        console.log(errors);
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
            },
            builUrl: function() {
                let p = this.params;
                return `api/customer?page=${p.page}&per_page=${p.per_page}&search_column=${p.search_column}&search_operator=${p.search_operator}&search_query_1=${p.search_query_1}&sort_column=${p.sort_column}&direction=${p.direction}`;
            },
            next: function() {
                if(this.model.next_page_url) {
                    this.params.page++;
                    this.fetchData();
                }
            },
            prev: function() {
                if(this.model.prev_page_url) {
                    this.params.page--;
                    this.fetchData();
                }
            },
            sort: function(column) {
                this.params.sort_column = column;
                if(this.params.direction === 'desc') {
                    this.params.direction = 'asc';
                } else {
                    this.params.direction = 'desc';
                }
                this.fetchData();
            }
        }
    }
</script>
<style scoped>
    .loading {
        color: red;
        font-weight: bold;
    }
</style>