<template>
    <div class="panel panel-default">
        <section v-if="loading">
            <small>Loading data ....</small>
        </section>
        <section v-else>
            <div v-if="errored">
                <p>Were are sorry. server not found data!</p>
            </div>
            <div v-else>
                <div class="panel-heading">
                    <span class="panel-title">{{customer.company}} / {{customer.name}}</span>
                    <div>
                        <router-link
                                tag="button"
                                class="btn btn-primary btn-sm"
                                :to="'/customer/' + $route.params.id + '/edit'"
                        >Edit</router-link>
                        <button class="btn btn-danger btn-sm" @click="remove">Delete</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Company</label>
                            <p>{{customer.company}}</p>
                            <label>Name</label>
                            <p>{{customer.name}}</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Email</label>
                            <p>{{customer.email}}</p>
                            <label>Phone Number</label>
                            <p>{{customer.phone}}</p>
                        </div>
                        <div class="col-sm-4">
                            <label>Created_At</label>
                            <p>{{customer.created_at}}</p>
                            <label>Address</label>
                            <p>
                                <textarea cols="30" rows="2">{{customer.address}}</textarea>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                errored: false,
                customer: {},
                redirect: '/customer'
            }
        },
        created() {
            this.fetchData();
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function() {
                this.$http.get('api/customer/' + this.$route.params.id)
                    .then(response => this.customer = response.data.customer)
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false)
            },
            remove: function() {
                if(confirm('are you sure?')) {
                    this.$http.delete('api/customer/' + this.$route.params.id)
                        .then(response => {
                            if(response.data.delete === true) {
                                this.$router.push(this.redirect);
                            }
                        })
                        .catch(error => console.log(error));
                }
            }
        }
    }
</script>
<style scoped>

</style>