<template>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <router-link
                        :to="'/'"
                        tag="a"
                        class="navbar-brand"
                        >Home</router-link>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <router-link
                                :to="'/customer'"
                                tag="a"
                                >Customer</router-link>
                        </li>
                        <li>
                            <router-link
                                    :to="'/invoice'"
                                    tag="a"
                            >Invoice</router-link>
                        </li>
                        <li>
                            <router-link
                                    :to="'/data-table'"
                                    tag="a"
                            >data-table</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <router-view></router-view>
    </div>
</template>
<script>
    export default {

    }
</script>
<style scoped>
.router-link-exact-active {
    font-weight: bold;
    color: red!important;
}
</style>