<template>
    <data-table :title="title" :source="source" :theads="theads" :filters="filters" :create="create">
        <template scope="props">
            <tr @click="$router.push('/invoice/' + props.item.id)">
                <td>{{props.item.id}}</td>
                <td>{{props.item.date}}</td>
                <td>{{props.item.customer.name}}</td>
                <td>{{props.item.title}}</td>
                <td>{{props.item.total}}</td>
                <td>{{props.item.created_at}}</td>
            </tr>
        </template>
    </data-table>
</template>
<script>
import dataTable from '../components/dataTable.vue'
export default {
    data() {
        return {
            title: 'Invoice',
            source: 'api/invoice',
            create: 'invoice/create',
            theads: [
                {title: 'ID', key: 'id', sort: true},
                {title: 'Date', key: 'date', sort: true},
                {title: 'Customer', key: 'customer', sort: false},
                {title: 'Title', key: 'title', sort: true},
                {title: 'Total', key: 'total', sort: true},
                {title: 'Created_At', key: 'create_at', sort: true}

            ],
            filters: [
                'id', 'customer_id', 'date', 'due_date', 'discount', 'sub_total', 'total',
                'customer.id','customer.company','customer.email','customer.phone',
                'customer.name','customer.address','customer.created_at'
            ],
        }
    },
    components: {dataTable}
}
</script>
<style>

</style>